{
  "plugins": [
	"jasmine",
	"angular"
  ],
  "env": {
    "browser": true
  },
  "extends": [
//    "standard"
    "eslint:recommended"
//    "plugin:jasmine/recommended",
//    "angular"
  ],
  "parserOptions": {
    "ecmaVersion": 5
  },
  "rules": {
    "angular/log": 0,
    "indent": 0,
//    "indent": [
//      "error",
//      "tab"
//    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-tabs": [
      "error",
      {
        "allowIndentationTabs": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "log",
          "error",
          "info",
          "warn"
        ]
      }
    ]
  }
}
